@charset "UTF-8";
/* CSS Document */

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
	background-image: url('../images/wolken_breed.png'),  -webkit-gradient(linear, center bottom, center top, from(#0A790D), color-stop(25%, #45AFEA), to(#45AFEA));
	background-repeat:no-repeat;
	background-attachment:fixed;
}

article, nav {
	padding: 10px;
	margin-bottom: 10px;
}

div#container {
	width:850px;
	margin: 0 auto;
}

header h1 {
	background: rgba(235, 234, 228, 0.6);
}

nav {
	background: rgba(235, 234, 228, 0.6);
	height: 47px;
	padding: 0;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

nav li {
	display: inline-block;
	margin-left: 10px;
	padding: 10px;
	border-radius: 10px;
}

nav a {
	text-decoration:none;
	color:#800;
}

nav li:hover {
	background-color:#45AFEA;
}

nav li.selected {
	background-color: white;
}

article {
	background: rgba(235, 234, 228, 0.6);
}
