@charset "UTF-8";
/* CSS Document */

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

body {
  background: url('../images/wolken_breed.png'), linear-gradient( 0deg, green, darkgreen 25%, darkblue 25% , lightblue);
  background-repeat:no-repeat;
	background-attachment:fixed;
}

div {
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
}

div#container {
	width:850px;
	margin: 0 auto;
}

header h1 {
	background: rgba(235, 234, 228, 0.6);
}

nav {
	background: rgba(235, 234, 228, 0.6);
}

article {
	background: rgba(235, 234, 228, 0.6);
}
